body{	
	font-family: Text New Roman;
}
#home, #read, #about{	
	background-image: url("../images/texturetastic_gray.png");
}
#raghavTitle, #yadavTitle{
	text-align: center;
	margin: 1em;
}
#raghavTitle img{
	height: 6.5em;
	width: 6.5em;
}
#yadavTitle img{
	height: 6.5em;
	width: 6.5em;
}
#menu{
	margin: 2em;
}
#read-btn{
	font-size: 1.5em;	
	margin: 0.6em auto;
	text-align: center;
	width: 45%;
	max-width: 150px;
}
#about-btn{
	font-size: 1em;	
	margin: 0.6em auto;
	text-align: center;
	width: 45%;
	max-width: 70px;
}
#ok-btn{
	margin: 0 auto;
	display: block;
	width: 25px;
	margin-top: 1.5em;
}
#about{
	text-align: justify;
}
.num{
	text-align:center;
	color: #dddddd;
}
.shloka{
	text-align: center;
	padding: 0.4em;
}
.meaning{
	text-align: justify;
	padding: 0.3em;	
	color: #222222;
}
.card{
	height: 400px;
	max-width: 350px;
	margin: 0.5em;
}
.front{
	background-color: #dd924f;
	padding: 0.5em;
	background-image: url("../images/ram.jpg");
	background-repeat: no-repeat;
	background-position: right bottom;
	border-radius: 1em;
	text-shadow: 1px 1px 2px #855f38;
	box-shadow: 1px 1px 6px #855f38;
}
.back{
	background-color: #b590fa;
	padding: 0.5em;
	background-image: url("../images/krishna.jpg");	
	background-repeat: no-repeat;
	background-position: right bottom;
	border-radius: 1em;
	text-shadow: 1px 1px 2px green;
	box-shadow: 1px 1px 6px green;
}
.verse{
	padding: -0.1em;
	left: 5%;
	right: 5%;
	margin: auto;
	display: block;
	max-width: 350px;
}